{% extends "base.html" %} {% block content %}
<div class="container mt-4">
  <h2>Edit Task</h2>

  <div id="alert-container"></div>
  <!-- Alert will appear here -->

  <form id="edit-task-form">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        value="{{ task.title }}"
        required
      />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea
        class="form-control"
        id="description"
        name="description"
        required
      >
{{ task.description }}</textarea
      >
    </div>
    <div class="mb-3">
      <label for="status" class="form-label">Status</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="status_pending"
        name="status" value="pending" {% if task.status == "pending" %} checked
        {% endif %}>
        <label class="form-check-label" for="status_pending">Pending</label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="radio" id="status_completed"
        name="status" value="completed" {% if task.status == "completed" %}
        checked {% endif %}>
        <label class="form-check-label" for="status_completed">Completed</label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Update Task</button>
  </form>
</div>